@model SimpleBlog.ViewModels.PostListViewModel
<form asp-controller="Blog" asp-action="ListView" asp-route-query="@Model.Query" method="get">
    <label asp-for="Query">Search: </label>
    <input type="search" asp-for="Query" />
    <input type="submit" Value="Search" />
</form>

<h1>Generally cool blog</h1>
@foreach (var post in @Model.Posts)
{
    <h2>@post.Title</h2>
    <a asp-controller="Blog" asp-action="PostView" asp-route-id="@post.PostId">Read the full post</a>
}
<br/>
<a asp-controller="Blog" asp-action="WritePost">Write a post</a>